$main-color: #007de3;
$main-color-light: #1976d2;
$highlight-color: #ff9e31;
$main-font-color: #7cc4ff;
$sprite01:'../../img/tmc/tmc-sprite01.png';
$sprite02:'../../img/tmc/tmc-sprite02.png';
$sprite03:'../../img/tmc/tmc-sprite03.png';
$icons: '../../img/tmc/icons-3.png';
$foot_tabs: '../../img/tmc/footer-tabs.png'; 