@import "trainorder.scss";
.opt-con{
	text-align:center;
	a.endorse-cancel{
		color: #007de3;
		font-size: 14px;
	}
}
.J_footer{
.occupy-res{
    font-size: 14px;
    color: #666;
    padding: 0 10px;
    position: absolute; 
    width: 60%;
}

.btn-sure{
	color: #fff;
    background: #ff9e31;
    position:absolute;
    right:0;
    bottom:0;
    height: 50px;
    margin-left: 3%;
    width: 36%;
    font-size: 16px;
    white-space: nowrap;
}	
}
